:root {
  --main-color: white;
  --sec-color: #C1BDDB;
  --text-color: #364156;
  --accent-purple: #8000FF;
  --accent-green: #7FBA0B;
}

@font-face{
  font-family: Miso;
  src: url('../assets/Miso Bold/Miso Bold.otf') format('opentype');
}

body {
  margin: 0;
  font-family: "Miso";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  color: var(--text-color);
  min-width: 600px;
}
